In [15]:
from langchain.llms import GooglePalm
api_key = "AIz******************jUI8"

llm = GooglePalm(google_api_key=api_key,temperature=0.2)
poem = llm("Write about IELTS exam")
print(poem)

The IELTS exam is an international standardized test of English language proficiency for non-native English speakers. It is jointly developed by the British Council, IDP Education and Cambridge English Language Assessment. The test is designed to assess the ability of candidates to use the English language in an academic or professional setting.

There are two versions of the IELTS exam: the Academic version and the General Training version. The Academic version is designed for candidates who are planning to study or work in an English-speaking country. The General Training version is designed for candidates who are planning to migrate to an English-speaking country.

The IELTS exam consists of four sections: Listening, Reading, Writing, and Speaking. Each section is scored on a scale of 0 to 9, with 9 being the highest score. The overall score is the average of the four section scores.

The Listening section lasts for 30 minutes and consists of 40 questions. The questions are based on a variety of audio recordings, such as conversations, lectures, and news broadcasts.

The Reading section lasts for 60 minutes and consists of 3 passages. The passages are on a variety of topics, such as social issues, science, and technology.

The Writing section lasts for 60 minutes and consists of 2 tasks. In Task 1, you are given a graph, chart, table, or diagram and asked to write a brief description of it. In Task 2, you are given a topic and asked to write an essay on it.

The Speaking section lasts for 15 minutes and consists of 3 parts. In Part 1, you are asked a series of questions about yourself and your background. In Part 2, you are given a topic and asked to speak about it for 2 minutes. In Part 3, you are asked to have a conversation with the examiner about the topic you spoke about in Part 2.

The IELTS exam is a challenging test, but it is also a fair test. If you prepare well, you can achieve a good score.

Here are some tips for preparing for the IELTS exam:

* **Start studying early.** The IELTS exam is a challenging test, so it is important to start studying early. You should give yourself at least 3 months to prepare.
* **Take a practice test.** The best way to prepare for the IELTS exam is to take a practice test. This will help you identify your strengths and weaknesses and give you an idea of what to expect on the actual test.
* **Find a good study guide.** There are a number of good study guides available for the IELTS exam. These guides can help you learn the material and develop strategies for taking the test.
* **Practice, practice, practice.** The best way to improve your score on the IELTS exam is to practice. You should practice the different sections of the test as often as you can.
* **Get feedback on your work.** It is helpful to get feedback on your work from a teacher or tutor. This can help you identify areas where you need to improve.
* **Don't panic.** The IELTS exam is a challenging test, but it is also a fair test. If you prepare well and stay calm, you can achieve a good score.

In [16]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Adidas	Red	XS	44	25
2	Levi	Red	XL	17	16
3	Adidas	Black	XS	18	94
*/

In [17]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)

qns1 = db_chain.run("How many total nike t-shirts are available")

> Entering new SQLDatabaseChain chain...
How many total nike t-shirts are available
SQLQuery:SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Nike'
SQLResult: [(Decimal('1182'),)]
Answer:1182
> Finished chain.

In [18]:
qns1

'1182'

In [19]:
qns2 = db_chain("what is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
what is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'XS'
SQLResult: [(Decimal('477'),)]
Answer:477
> Finished chain.

In [20]:
qns3 = db_chain.run("SELECT sum(price*stock_quantity) from atliq_tshirts.t_shirts where size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT sum(price*stock_quantity) from atliq_tshirts.t_shirts where size = 'S'
SQLQuery:

Retrying langchain_community.llms.google_palm.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

SELECT sum(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('23749'),)]
Answer:23749
> Finished chain.

In [21]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns4 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('18400.700000'),)]
Answer:18400.7
> Finished chain.

In [22]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('18635'),)]
Answer:18635
> Finished chain.


> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:

Retrying langchain_community.llms.google_palm.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(81,), (24,), (11,), (15,)]
Answer:81
> Finished chain.

In [23]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('131'),)]
Answer:131
> Finished chain.

# Few Shot Learning

In [24]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : 100},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': 23749},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': 18400.700000} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : 18635},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : 131
     }
]

In [25]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

In [26]:
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(str(value) for value in example.values()) for example in few_shots]

In [27]:
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 100",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 23749",
 "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query 18400.7",
 "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query 18635",
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 131"]

In [28]:
vectorstore = Chroma.from_texts(to_vectorize,embedding=embeddings,metadatas=few_shots)

In [29]:
from langchain.prompts import SemanticSimilarityExampleSelector

In [30]:
example_selector = SemanticSimilarityExampleSelector(
vectorstore=vectorstore,
k=2)

In [31]:
example_selector.select_examples({"Question": "How many Adidas T-shirt I have left in store?"})

[{'Answer': 100,
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': 131,
  'Question': "How many white color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
  'SQLResult': 'Result of the SQL query'}]

In [32]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [33]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [34]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [35]:
from langchain.prompts.prompt import PromptTemplate
example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [36]:
from langchain.prompts import FewShotPromptTemplate
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [37]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [38]:
new_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:

SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('131'),)]
Answer:131
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '131'}

In [39]:
new_chain("How much is the price of the inventory for all small size t-shirt")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirt
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('23749'),)]
Answer:23749
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirt',
 'result': '23749'}

In [41]:
new_chain("How many white color nike's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color nike's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White'
SQLResult: [(Decimal('320'),)]
Answer:320
> Finished chain.

{'query': "How many white color nike's shirt I have?", 'result': '320'}